
{{ form_start(form) }}
{#    {{ form_widget(form.nom)}}#}
{#    {{ form_widget(form.prenom) }}#}
{#    {{ form_widget(form.age) }}#}
{#    {{ form_widget(form.Blog) }}#}
{#    <button class="btn">{{ button_label|default('Save') }}</button>#}
<div class="form-floating mb-3">
    <input name="nom" class="form-control" id="phone" type="text" placeholder="(123) 456-7890" data-sb-validations="required" />
    <label for="phone">Nom</label>
    <div class="invalid-feedback" data-sb-feedback="phone:required">A phone number is required.</div>
</div>
<div class="form-floating mb-3">
    <input name="prenom" class="form-control" id="phone" type="text" placeholder="(123) 456-7890" data-sb-validations="required" />
    <label for="phone">Prenom</label>
    <div class="invalid-feedback" data-sb-feedback="phone:required">A phone number is required.</div>
</div>
<div class="form-floating mb-3">
    <input name="age" class="form-control" id="phone" type="number" placeholder="(123) 456-7890" data-sb-validations="required" />
    <label for="phone">Age</label>
    <div class="invalid-feedback" data-sb-feedback="phone:required">A phone number is required.</div>
</div>

<div class="form-floating mb-3">
    {{ form_widget(form.Blog) }}
    <label for="phone">Blog</label>
    <div class="invalid-feedback" data-sb-feedback="phone:required">A phone number is required.</div>
</div>

<button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
